.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}

.sensor-label {
  font-family: System-Regular;
  fill: black;
  text-anchor: middle;
  text-length: 32;
  font-size: 28;
  x: 50%;
  y: $+5;
}

.sensor-data {
  font-family: System-Light;
  fill: black;
  text-anchor: middle;
  text-length: 64;
  font-size: 28;
  x: 50%;
  y: $;
}
